@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    @apply rounded-lg text-center bg-gray-100 shadow-lg p-2
}

.container {
    @apply flex content-center w-full h-full items-center justify-center m-auto
}

.container-cards {
    @apply grid grid-cols-1 gap-8 m-4 px-12
}

.router-link-exact-active {
    @apply bg-gray-600 text-white;
}

nav .nav-tab {
    @apply text-center h-full w-40 p-4
}

h1 {
    @apply text-4xl text-center mb-8
}

h3 {
    @apply text-xl pt-4
}

.button {
    @apply p-2 bg-gray-200 shadow rounded;
}

.input-title {
    @apply text-4xl text-center;
}

@screen md {
    .container-cards {
        @apply grid-cols-6;
    }
}