<template>
  <div>
    <activity-form></activity-form>
  </div>
</template>

<script>
import ActivityForm from '@/components/ActivityForm.vue'
export default {
  components: {
    ActivityForm
  }
}
</script>
