<template>
  <div>
    <activity
      :id="id"
    ></activity>
  </div>
</template>

<script>
import Activity from '@/components/ActivityView.vue'
export default {
  props: {
    id: Number
  },
  components: {
    Activity
  }
}
</script>
