<template>
  <div>
    <router-link class="button float-right mr-4" :to="{name: 'new-activity'}">
      Nouvelle activité
    </router-link>
    <div class="clear-both"></div>
    <ActivityList/>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import ActivityList from '@/components/ActivityList.vue'
export default {
  components: {
    ActivityList
  },
  methods: {
    ...mapActions(['getActivities'])
  }
}
</script>
