<template>
  <div class="container">
    <div class="w-full">
      <h1 class="text-4xl">Nouveau log : {{ activity.name }}</h1>

      <form @submit.prevent="save" class="w-full py-8">
        <div class="table w-full">
          <div class="table-row-group">
            <div class="table-row pb-4">
              <label class="table-cell text-right px-4 w-6/12" for="date">Le</label>
              <input class="table-cell w-6/12" type="date" id="name" v-model="date">
            </div>
            <div class="table-row pb-4">
              <label class="table-cell text-right px-4" for="unit">Ajouter</label>
              <input v-if="activity.unit == 'numeric'" type="number" step="1" class="table-cell" id="value" v-model="value">
              <span v-else-if="activity.unit == 'choice'">
                <span v-for="choice in activity.choices" :key="choice.id">
                 <input type="radio" :id="choice.id" :value="choice.id" v-model="value">
                 <label :for="choice.id" class="pl-2">{{ choice.name }}</label>
                 <br>
                </span>
              </span>
              <span v-else>
                <input v-model="hours" type="tel" pattern="\d*" max-length="2" placeholder="HH" class="w-12 bg-gray-200 mr-2">
                <input v-model="minutes" type="tel" pattern="\d*" max-length="2" placeholder="mm" class="w-12 bg-gray-200 mr-2">
                <input v-model="seconds" type="tel" pattern="\d*" max-length="2" placeholder="ss" class="w-12 bg-gray-200 mr-2">
              </span>
            </div>
          </div>
        </div>

        <div class="flex items-center justify-center pt-8">
          <button type="submit" class="button">
            Enregistrer
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  props: {
    activityId: {
      type: Number,
      required: true
    },
    oldDate: {
      type: String,
      default: null,
      required: false
    },
    oldValue: {
      type: Number,
      default: 1,
      required: false
    }
  },
  data: function () {
    return {
      date: (this.oldDate === null)
? this.today()
: this.oldDate,
      value: this.oldValue,
      hours: 0,
      minutes: 0,
      seconds: 0
    }
  },
  computed: {
    ...mapGetters({
      searchActivity: 'activity'
    }),
    activity: function () {
      return this.searchActivity(this.activityId)
    },
    unit: function () {
      return this.activity.unit
    },
    valueToSave: function () {
      if (this.activity.unit === 'duration') {
        return (Number(this.seconds)) + (this.minutes * 60) + (this.hours * 60 * 60)
      }
        return this.value

    }
  },
  methods: {
    ...mapActions(['addLog']),
    today: function () {
      const today = new Date()
      const dd = String(today.getDate()).padStart(2, '0')
      const mm = String(today.getMonth() + 1).padStart(2, '0')
      const yyyy = today.getFullYear()
      return yyyy + '-' + mm + '-' + dd
    },
    save: function () {
      const log = {
        date: this.date,
        value: this.valueToSave,
        activity_id: this.activityId
      }
      this.addLog(log)
        .then(() => this.$router.push({ name: 'update-activity', query: { id: this.activityId } }))
    }
  }
}
</script>
