<template>
    <div class="container">
        <div class="w-4/5 lg:w-3/5">
            <h1>Profil</h1>
            <list-token/>
            <span v-if="!showFormToken" @click="showFormToken = true" class="text-gray-400 hover:underline cursor-pointer">
              Ajouter un token
            </span>
            <span v-else @click="showFormToken = false" class="text-gray-400 hover:underline cursor-pointer">
              Annuler la création de token
            </span>
            <create-token v-if="showFormToken"/>
            <logout-link />
        </div>
    </div>
</template>

<script>
import LogoutLink from '@/components/LogoutLink.vue'
import CreateToken from '@/components/CreateToken.vue'
import ListToken from '@/components/ListToken.vue'

export default {
  data () {
    return {
      showFormToken: false
    }
  },
  components: {
    LogoutLink,
    CreateToken,
    ListToken
  }
}
</script>
