<template>
    <div class="container">
        <div>
            <h1>Page en Work In Progress</h1>
            <img src="media/toolbox.png" />
        </div>
    </div>
</template>

<script>
export default {
}
</script>
