<template>
  <div class="container">
    <div>
      <input type="string" class="input-title" v-model="newName" v-on:blur="save">

      <p>Unité : {{ activity.unit }}</p>

      <div v-if="activity.unit == 'choice'">
        <h3>Valeurs possibles</h3>
        <ul class="list-disc pl-4">
          <ChoiceLine
            v-for="choice in choices"
            v-bind:key="choice.id"
            :choice="choice"
            :activityId="id" />
        </ul>
        <input type="string" v-model="newChoice" v-on:blur="addNewChoice" @keyup.enter="addNewChoice" placeholder="+ nouveau choix">
      </div>

      <h3>Tags</h3>
      <TagList :activity="activity" />

      <LogList
        :activityId="id"
        :unit="activity.unit" />

      <router-link :to="{name: 'new-log', query: {activityId: id}}" custom>
        <button class="block button m-auto">
          Ajouter un log
        </button>
      </router-link>

      <a @click="removeActivity" class="underline cursor-pointer text-red-400">Supprimer l'activité</a>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import LogList from '@/components/LogList.vue'
import TagList from '@/components/TagList.vue'
import ChoiceLine from '@/components/ChoiceLine.vue'
export default {
  props: {
    id: Number
  },
  data: function () {
    return {
      newName: '',
      newChoice: ''
    }
  },
  computed: {
    ...mapGetters({
      searchActivity: 'activity'
    }),
    activity: function () {
      return this.searchActivity(this.id)
    },
    choices: function () {
      return this.activity.choices
    }
  },
  beforeMount () {
    this.initChoices(this.id)
  },
  mounted () {
    this.newName = this.activity.name
  },
  methods: {
    ...mapActions([
      'updateActivity',
      'deleteActivity',
      'initChoices',
      'addChoice'
    ]),
    save: function () {
      const data = {
        id: this.id,
        name: this.newName
      }
      this.updateActivity(data)
    },
    removeActivity: function () {
      if (confirm('Supprimer définitivement l\'activité et tous ses logs ?')) {
        this.deleteActivity(this.id).then(() => this.$router.push({ name: 'home' }))
      }
    },
    addNewChoice: function () {
      if (this.newChoice !== '') {
        const data = {
          name: this.newChoice,
          activityId: this.id
        }
        this.addChoice(data)
        this.newChoice = ''
      }
    }
  },
  components: {
    LogList,
    TagList,
    ChoiceLine
  }
}
</script>
