<template>
  <div class="container-cards">
    <ActivityCard
      v-for="activity in activities"
      v-bind:key="activity.id"
      v-bind:id="activity.id"
    ></ActivityCard>
  </div>
</template>

<script>
import ActivityCard from '@/components/ActivityCard.vue'
import { mapState, mapActions } from 'vuex'
export default {
  mounted () {
    this.getActivities()
  },
  computed: {
    ...mapState(['activities'])
  },
  methods: {
    ...mapActions(['getActivities'])
  },
  components: {
    ActivityCard
  }
}
</script>
