<template>
  <div class="container">
    <div>
      <h1 class="text-4xl">Nouvelle activité</h1>

      <form @submit.prevent="create" class="w-full py-8">
        <div class="pb-4">
          <label for="name" class="pr-2">Nom</label>
          <input type="string" class="border-2" id="name" v-model="name" v-focus>
        </div>
        <div class="pb-4">
          <label for="unit" class="pr-2">Unité</label>
          <select class="border-2" v-model="unit">
            <option v-for="unitOption in unitList"
              v-bind:key="unitOption.value"
              :value="unitOption.value">
              {{ unitOption.label }}
            </option>
          </select>
        </div>
        <ul v-if="hasChoiceOptions">
          <li v-for="choice, index in choices"
            v-bind:key="index">
            <input type="string" :value="choice" @change="changeChoice(index, $event)" class="bg-gray-200 my-2 ml-11 py-1 px-4 w-36">
            <span class="relative -left-4" @click="removeChoice(index)">x</span>
          </li>
          <li class="underline" @click="addChoice">Ajouter un choix</li>
        </ul>

        <div class="flex items-center justify-center">
          <button type="submit" class="button">
            Créer
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  data: function () {
    return {
      name: '',
      unit: 'duration',
      choices: [],
      unitList: [
        {
          value: 'duration',
          label: 'Durée de temps'
        },
        {
          value: 'numeric',
          label: 'Nombre'
        },
        {
          value: 'choice',
          label: 'Liste de choix'
        }
      ]
    }
  },
  computed: {
    hasChoiceOptions: function () {
      return this.unit === 'choice'
    }
  },
  methods: {
    ...mapActions(['addActivity']),
    addChoice: function () {
      this.choices.push('')
    },
    changeChoice: function (index, event) {
      this.choices.splice(index, 1, event.target.value)
    },
    removeChoice: function (index) {
      this.choices.splice(index, 1)
    },
    create: function () {
      const activity = {
        name: this.name,
        unit: this.unit
      }
      if (this.hasChoiceOptions) {
        activity.choices = this.choices
      }
      this.addActivity(activity)
        .then(() => this.$router.push({ name: 'home' }))
    }
  }
}
</script>
