<template>
  <div class="card">
    <router-link :to="{name: 'update-activity', query: {id: id}}">
      <div class="card-header relative">
          <span class="break-words">
              {{ activity.name }}
          </span>
      </div>
    </router-link>
    <div class="p-2 text-gray-400 italic text-sm">
      {{ lastLogDate | displayDate }}
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  props: {
    id: Number
  },
  computed: {
    ...mapGetters({
      searchActivity: 'activity',
      searchLastLogDate: 'lastLogDate'
    }),
    activity: function () {
      return this.searchActivity(this.id)
    },
    lastLogDate: function () {
      return this.searchLastLogDate(this.id)
    }
  }
}
</script>
