<template>
  <li class="">
    <input type="text" v-model="name" ref="name" v-on:blur="save" @keyup.enter="save">
    <span>
      <a @click="remove" class="underline cursor-pointer text-red-400 float-right">x</a>
    </span>
  </li>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  props: {
    choice: {
      type: Object,
      required: true
    },
    activityId: {
      type: Number,
      required: true
    }
  },
  data: function () {
    return {
      name: this.choice.name,
      oldName: this.choice.name
    }
  },
  methods: {
    ...mapActions([
      'updateChoice',
      'deleteChoice'
    ]),
    save: function () {
      if (this.name !== this.oldName) {
        const data = {
          id: this.choice.id,
          name: this.name
        }
        this.updateChoice(data)
      }
    },
    remove: function () {
      if (confirm('Supprimer ce choix ?')) {
        const data = {
          choiceId: this.choice.id,
          activityId: this.activityId
        }
        this.deleteChoice(data)
        // todo error message if deletion forbidden because choice already logged
      }
    }
  }
}
</script>
