<template>
  <div class="p-4 bg-gray-200">
    <div class="pb-6 md:pb-0 flex flex-col">
        <label for="name" class="input-label mb-2">Nom du nouveau token</label>
        <div>
            <label class="input-field inline-flex items-baseline border-none shadow-md bg-white p-4">
                <div class="flex-1 leading-none">
                    <input v-model="name" type="text" class="placeholder-blue w-full p-0 no-outline text-dusty-blue-darker" placeholder="perso">
                </div>
            </label>
        </div>
        <span class="bg-red-100 rounded mt-2 w-10/12">
          {{ this.nameError }}
        </span>
    </div>

    <span class="input-label text-base mb-2 block">Scopes</span>
    <ul>
      <li v-for="scope in scopes" :key="scope.id">
        <label class="inline-flex items-center mt-3">
          <input type="checkbox" v-model="scopesChecked" :value="scope.id" class="form-checkbox h-5 w-5 text-gray-600">
          <span class="ml-2 text-gray-700">
            {{ scope.id + ' - ' + scope.description}}
          </span>
        </label>
      </li>
    </ul>

    <button @click="create" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 mt-8 border-b-4 border-blue-700 hover:border-500 rounded">
      Créer
    </button>

    <div class="rounded bg-gray-200 p-4 my-3 w-96" v-if="accessToken != ''">
      <strong class="font-bold">
        Copier bien ce token car il ne sera plus visible une fois la page recharger
      </strong>
      <em class="text-gray-700 cursor-pointer hover:text-gray-900" @click="paste">Copier</em>
      <p ref="token" class="overflow-auto whitespace-nowrap">
        {{ accessToken }}
      </p>
    </div>

    <div class="mt-2">
      <a href="/doc/api" class="text-blue-700 inline-flex items-center font-semibold tracking-wide">
        <span class="hover:underline">
          Documentation
        </span>
        <span class="text-xl ml-2">&#8594;</span>
      </a>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  data () {
    return {
      name: '',
      scopesChecked: [],
      nameError: '',
      accessToken: ''
    }
  },
  created () {
    this.getScopes()
  },
  computed: {
    ...mapState({
      scopes: state => state.token.scopes
    })
  },
  methods: {
    ...mapActions([
      'getScopes',
      'createToken'
    ]),
    create: function () {
      this.nameError = ''
      this.scopesError = ''
      this.createToken({ name: this.name, scopeChecked: this.scopesChecked })
        .then(response => {
          this.accessToken = response.data.accessToken
        })
        .catch(error => {
          const errors = error.response.data.errors
          this.nameError = errors.name[0]
        })
    },
    selectText (element) {
      let range = ''
      if (document.selection) {
        // IE
        range = document.body.createTextRange()
        range.moveToElementText(element)
        range.select()
      } else if (window.getSelection) {
        range = document.createRange()
        range.selectNode(element)
        window.getSelection().removeAllRanges()
        window.getSelection().addRange(range)
      }
    },
    paste: function () {
      this.selectText(this.$refs.token)
      document.execCommand('copy')
    }
  }
}
</script>
