<template>
  <div>
    <input type="hidden" name="_token" :value="csrf" >
  </div>
</template>

<script>
export default {
  computed: {
    csrf: function () {
      return document.head.querySelector('[name~=csrf-token][content]').content
    }
  }
}
</script>
