<template>
  <div>
    <h2 class="mb-1 text-gray-900 font-semibold">
      Liste des tokens
    </h2>
    <div v-if="error" class="bg-red-100 rounded my-2 p-2">
        Erreur, veuillez retenter plus tard
    </div>
    <div v-for="token in tokens" :key="token.id" class="flex flex-col p-8 bg-white shadow-md hover:shodow-lg rounded-2xl mb-4">
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <div class="flex flex-col ml-3">
            <div class="font-medium leading-none">{{ token.name }}</div>
            <p class="text-sm text-gray-600 leading-nondde mt-1">
              Scopes: {{ token.scopes.join(', ') }}
            </p>
          </div>
        </div>
        <span v-if="token.revoked" class="text-gray-400 font-bold py-2 px-4 border-4 border-red-300 rounded">
          Révoqué
        </span>
        <button v-else @click="revoke(token.id)" class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-500 rounded">
          Révoquer
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  data () {
    return {
      error: false
    }
  },
  created () {
    this.getTokens()
  },
  computed: {
    ...mapState({
      tokens: state => state.token.tokens
    })
  },
  methods: {
    ...mapActions([
      'getTokens',
      'revokeToken'
    ]),
    revoke: function (id) {
      this.error = false
      this.revokeToken(id).catch(() => {
        this.error = true
      })
    }
  }
}
</script>
