<template>
  <tr class="hover:bg-gray-100 border-b border-gray-200 py-10">
    <td>
      <input type="date" v-model="date" v-on:blur="saveDate">
    </td>

    <td>
      <input v-if="unit == 'numeric'" type="number" step="1" v-model="value" class="text-right" v-on:blur="saveValue">
      <input v-else-if="unit == 'choice'" type="text" v-model="choiceName" class="text-right">
      <span v-else>
        <input v-model="hours" type="tel" pattern="\d*" max-length="2" class="w-12 mr-2 text-right" v-on:blur="saveValue">H
        <input v-model="minutes" type="tel" pattern="\d*" max-length="2" class="w-12 mr-2 text-right" v-on:blur="saveValue">m
        <input v-model="seconds" type="tel" pattern="\d*" max-length="2" class="w-12 mr-2 text-right" v-on:blur="saveValue">s
      </span>
    </td>

    <td class="text-right"><a @click="removeLog(log.id)" class="underline cursor-pointer text-red-400">x</a></td>
  </tr>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  props: {
    unit: {
      type: String,
      required: true
    },
    log: {
      type: Object,
      required: true
    }
  },
  data: function () {
    return {
      oldDate: this.log.date.slice(0, 10),
      date: this.log.date.slice(0, 10),
      value: this.log.value,
      hours: 0,
      minutes: 0,
      seconds: 0
    }
  },
  computed: {
    ...mapGetters({
      searchChoiceName: 'choiceName'
    }),
    choiceName: function () {
      if (this.unit === 'choice') {
        return this.searchChoiceName({ activityId: this.log.activity_id, choiceId: this.log.value })
      }
        return ''

    },
    valueToSave: function () {
      if (this.unit === 'numeric') {
        return this.value
      }
        return (Number(this.seconds)) + (this.minutes * 60) + (this.hours * 60 * 60)

    }
  },
  mounted () {
    if (this.unit === 'duration') {
      this.feedTimeInputs(this.value)
    }
  },
  methods: {
    ...mapActions([
      'deleteLog',
      'updateLog'
    ]),
    feedTimeInputs: function (secondsCount) {
      this.hours = Math.floor(secondsCount / (60 * 60))
      const seconds = secondsCount - (this.hours * (60 * 60))
      this.minutes = Math.floor(seconds / 60)
      this.seconds = seconds - (this.minutes * 60)
    },
    removeLog: function (id) {
      if (confirm('Supprimer ce log ?')) {
        this.deleteLog(id)
      }
    },
    saveDate: function () {
      if (this.oldDate !== this.date) {
        this.updateLog({
          id: this.log.id,
          date: this.date,
          value: this.log.value
        })
      }
    },
    saveValue: function () {
      if (this.log.value !== this.valueToSave) {
        this.updateLog({
          id: this.log.id,
          date: this.log.date,
          value: this.valueToSave
        })
      }
    }
  }
}
</script>
