<template>
  <div>
      <table v-if="logs.length > 0" class="table-auto border-collapse w-full my-8">
        <thead>
          <tr class="rounded-lg text-sm font-medium text-left bg-gray-200">
            <th class="px-4 py-2">Date</th>
            <th class="px-4 py-2">Valeur</th>
            <th class="px-4 py-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <LogLine
            v-for="log in logs"
            v-bind:key="log.id"
            :log="log"
            :unit="unit" />
        </tbody>
      </table>
      <div v-else class="my-8 italic text-gray-400">
        Pas encore de logs
      </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import LogLine from '@/components/LogLine.vue'
export default {
  props: {
    activityId: {
      type: Number,
      required: true
    },
    unit: {
      type: String,
      required: true
    }
  },
  mounted () {
    this.initLogs(this.activityId)
  },
  computed: {
    ...mapGetters({
      searchLogs: 'logs'
    }),
    logs: function () {
      return this.searchLogs(this.activityId)
    }
  },
  methods: {
    ...mapActions(['initLogs'])
  },
  components: {
    LogLine
  }
}
</script>
