<template>
  <div>
    <a href="#" @click="logout" class="underline text-gray-400 block mt-8">
      Me déconnecter
    </a>

    <form id="logout-form" action="/logout" method="POST" style="display: none;">
      <input-CSRF />
    </form>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import InputCSRF from '@/components/InputCSRF.vue'

export default {
  components: {
    InputCSRF
  },
  methods: {
    ...mapActions({
      logoutAction: 'logout'
    }),
    logout: function () {
      this.logoutAction()
      event.preventDefault()
      document.getElementById('logout-form').submit()
    }
  }
}
</script>
