<template>
  <div>
    <ul>
      <TagLine
        v-for="tag in tags"
        :key="tag.id"
        :tag="tag"
        :activityId="activity.id"
        :checkTagWithTimout="checkTag"
      />
    </ul>
    <input type="string" v-model="newTag" v-on:blur="addNewTag" @keyup.enter="addNewTag" placeholder="+ nouveau tag">
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import TagLine from '@/components/TagLine.vue'
export default {
  props: {
    activity: {
      type: Object,
      required: true
    }
  },
  data: function () {
    return {
      newTag: '',
      delay: null,
      tagsChecked: []
    }
  },
  computed: {
    ...mapGetters(['tags'])
  },
  mounted () {
    this.getTags()
    this.tagsChecked = [...this.activity.tags]
  },
  methods: {
    ...mapActions([
      'getTags',
      'addTag',
      'updateActivity'
    ]),
    addNewTag: function () {
      if (this.newTag !== '') {
        const data = {
          name: this.newTag
        }
        this.addTag(data)
        this.newTag = ''
      }
    },
    checkTag: function (tagId) {
      clearTimeout(this.delay)
      if (this.tagsChecked.find(tag => tag === tagId) === undefined) {
        this.tagsChecked.push(tagId)
      } else {
        const tagIndex = this.tagsChecked.findIndex(tag => tag === tagId)
        this.tagsChecked.splice(tagIndex, 1)
      }
      this.delay = setTimeout(() => {
        const activityToStore = { ...this.activity }
        activityToStore.tags = [...this.tagsChecked]
        this.updateActivity(activityToStore)
      }, 1000)
    }
  },
  components: {
    TagLine
  }
}
</script>
