<template>
  <li class="">
    <input type="checkbox" :id="tagIdentifier" class="mr-2" v-model="tagChecked" v-on:change="checkTagWithTimout(tag.id)">
    <input v-show="editModeActivated" type="text" v-model="name" ref="name" v-on:blur="exitEditMode" @keyup.enter="exitEditMode">
    <span v-show="!editModeActivated">
      <label :for="tagIdentifier">{{ name }}</label>
      <a @click="removeTag" class="underline cursor-pointer text-red-400 float-right">x</a>
      <a @click="activateEditMode" class="underline cursor-pointer text-gray-400 float-right">edit</a>
    </span>
  </li>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  props: {
    tag: {
      type: Object
    },
    activityId: {
      type: Number,
      required: true
    },
    checkTagWithTimout: {
      type: Function,
      required: true
    }
  },
  data: function () {
    return {
      name: this.tag.name,
      oldName: this.tag.name,
      tagChecked: false,
      editModeActivated: false
    }
  },
  computed: {
    ...mapGetters(['tagIsCheckOnActivity']),
    tagIdentifier: function () {
      return 'tag-' + this.tag.id
    },
    storeTagChecked: function () {
      return this.tagIsCheckOnActivity({ tagId: this.tag.id, activityId: this.activityId })
    }
  },
  mounted () {
    this.tagChecked = this.storeTagChecked
  },
  methods: {
    ...mapActions([
      'deleteTag',
      'updateTag'
    ]),
    activateEditMode: function () {
      this.editModeActivated = true
      this.$nextTick(() => {
        this.$refs.name.focus()
        this.$refs.name.select()
      })
    },
    exitEditMode: function () {
      this.editModeActivated = false
      if (this.name !== this.oldName) {
        const data = {
          id: this.tag.id,
          name: this.name
        }
        this.updateTag(data)
      }
    },
    removeTag: function () {
      if (confirm('Supprimer ce tag globalement ?')) {
        this.deleteTag(this.tag.id)
      }
    }
  }
}
</script>
