<template>
  <nav class="bg-gray-400 shadow-lg flex mb-4">
    <span class="flex-auto">
      <router-link :to="{name: 'home'}" class="nav-tab" custom v-slot="{ navigate }">
        <button @click="navigate" @keypress.enter="navigate" role="link" class="nav-tab">
          Spuro
        </button>
      </router-link>
    </span>
    <span v-if="isAuthentificated" class="flex-auto">
      <ul class="flex">
        <li v-for="tab in tabs" :key="tab.name" class="flex-1">
          <router-link :to="{name: tab.name}" custom v-slot="{ navigate, isExactActive }">
            <button @click="navigate" role="link" :class="['nav-link', 'nav-tab', isExactActive && 'router-link-exact-active']">
              {{ tab.label }}
            </button>
          </router-link>
        </li>
      </ul>
    </span>
  </nav>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'
export default {
  mounted () {
    this.getUser()
  },
  computed: {
    ...mapGetters(['isAuthentificated']),
    ...mapState({
      userName: state => state.user.username
    }),
    tabs: function () {
      return [
        {
          name: 'home',
          label: 'Activités'
        },
        {
          name: 'stats',
          label: 'Statistiques'
        },
        {
          name: 'profile',
          label: this.userName
        }
      ]
    }
  },
  methods: {
    ...mapActions(['getUser'])
  }
}
</script>
